:root {
    --color-primary: #fbe796;
    --color-secondary: #76342c;
    --color-hover: black;

    --color-player-green: #399e3f;
    --color-player-blue: #386f91;
    --color-player-red: #b83831;
    --color-player-yellow: #f8dc46;
    --color-player-black: #453b31;
    --color-player-white: #fffff8;
}

html {
    font-size: 16px;
}

html, body, .container {
    width: 100vw;
    height: 100vh;
}

button {
    background: none;
    border: none;
    font-weight: bold;
}

h1, h2, h3, span, button, label, a, p {
    color: var(--color-secondary);
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

.header__link, .header__username, .players-stats__title, .player-tokens__name, .lobby__button, .game__turn-head {
    font-weight: bold;
}

body {
    background-color: var(--color-primary);
}

button {
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

.header__link {
    margin: 0 1rem;
    font-size: 2rem;
}

.header__username {
    margin: 0 1rem;
    font-size: 2rem;
}

.header__link--left-aligned {
    margin-right: auto;
}

.home, .login, .register, .not-found, .lobby {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    margin: 0 0 auto 0;
}

.home__title {
    margin: .5rem 0;
    font-size: 4rem;
}

.home__subscription {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 0;
}

.form__label {
    align-self: start;
    font-size: 1.5rem;
}

.form__input:focus {
    outline: .15rem solid var(--color-hover);
}

.form__input {
    padding: .5rem;
    margin: .5rem 0;
    background-color: var(--color-secondary);
    border: none;
    color: var(--color-primary);
}

.form__button {
    align-self: end;
    background: none;
    border: none;
    font-size: 1.5rem;
}

button:hover, .header__link:hover {
    color: var(--color-hover);
}

.center-aligned {
    align-self: center;
}

.not-found__title {
    font-size: 4rem;
}

.not-found__subscription {
    font-size: 2rem;
}

.game {

    display: grid;
    grid-template-areas:
        "turn-head turn-head turn-head"
        "tokens columns logs"
        "tokens hand logs";
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 5% auto 20%;
    width: 100%;
    height: 100%;

    overflow: hidden;
    gap: 1rem;
}

.game__turn-head {
    grid-area: turn-head;
    justify-content: center;
    align-self: center;
    font-size: 2rem;
}

#game__hand {
    display: flex;
    justify-content: center;
    grid-area: hand;
}

#game__columns {
    display: flex;
    justify-content: center;
    grid-area: columns;
    margin-bottom: 20px;
    overflow: hidden;
}

.game__column::-webkit-scrollbar {
    display: none;
}

.game__column {
    display: flex;
    flex-direction: column;
    max-width: 10%;
    margin: 0 .5rem;
    overflow: scroll;
    scrollbar-width: none;
}

.game__token {
    margin-bottom: 10px;
}

.game__logs::-webkit-scrollbar {
    display: none;
}

.game__logs {

    grid-area: logs;
    overflow: scroll;
    scrollbar-width: none;
}

.players-stats::-webkit-scrollbar {
    display: none;
}

.players-stats {
    display: flex;
    flex-direction: column;
    align-items: center;

    grid-area: tokens;

    overflow: scroll;
    scrollbar-width: none;
}

.player-tokens {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem 0;
}

.player-tokens__name {
    margin-bottom: 0.5rem;
}

.player--blue {
    color: var(--color-player-blue);
}

.player--red {
    color: var(--color-player-red);
}

.player--green {
    color: var(--color-player-green);
}

.player--yellow {
    color: var(--color-player-yellow);
}

.player--white {
    color: var(--color-player-white);
}
.player--black {
    color: var(--color-player-black);
}

.token {
    width: 100%;
}

.lobby {
    justify-content: flex-start;
    max-width: 50%;
    margin: 0 auto auto auto;
}

.lobby__title {
    font-size: 4rem;
}

.lobby__button {
    margin: auto 0;
    background: none;
    border: none;
    font-size: 2rem;
}

.lobby__headstones {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem 3rem;
}

.headstone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headstone__img {
    width: 75%;
    margin: 0.5rem 0 1rem 0;
}

.headstone__name {
    font-size: 2rem;
}

.card {
    transition: transform .1s;
}

.card:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    padding-bottom: 2em;
    transform: scale(2);
}

.card__selected {
    border: 3px solid red;
    border-radius: 3em;
}

.end-popup {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.end-popup__title {
    font-size: 4rem;
}

.end-popup__rows {
    display: flex;
    flex-direction: column;
}

.end-popup__row, .end-popup__button {
    font-size: 2rem;
}

.end-popup__button {
    margin-top: 2rem;
}

@media screen and (max-width: 800px) {
    html {
        font-size: 12px;
    }
}
